<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
  
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/appointment">Appointment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/dashboard">Doctor</a>
      </li>
      
      
    </ul>

    <!-- Move form to the end using ms-auto (Bootstrap 5) or ml-auto (Bootstrap 4) -->
    <form class="d-flex ms-auto align-items-center" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success me-2" type="submit">Search</button>
  <a class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center" 
     href="#" routerLink="/login" style="width: 50px; height: 40px;">
    🤵
  </a>
</form>

  </div>
</nav>
